In [2]:
import pandas as pd
import time

In [3]:
dfrelacionesCargos = pd.DataFrame()
dfrelacionesParticipadas= pd.DataFrame()
dfwork= pd.DataFrame()
dfeventosborme =  pd.DataFrame()

Cargamos los ficheros pickle binarios con los dataframes que se han guardado del procesamiento de las excel. A partir de aqui, puede trabajarse con ellos. Hasta que finalice el procesamiento puede trabajarse con estos dataframes mientras no se sobre escriban los ficheros donde se han guardado.

In [4]:
dfrelacionesParticipadas= pd.read_pickle('RelacionesEmpresasParticipadas')
dfwork = pd.read_pickle('NodosEmpresa')
dfrelacionesCargos = pd.read_pickle('RelacionesCargos')
dfrelacionesAccionistas = pd.read_pickle('RelacionesAccionistas')
dfrelacionesPuestos = pd.read_pickle('RelacionesPuestos')
dfeventosborme= pd.read_csv('BORMEEvents.csv')
counter2 = pd.read_pickle('file_processed_counter_lista2')
counter1 = pd.read_pickle('file_processed_counter')
print 'Ficheros restantes de la Lista1',len(counter1)
print 'Ficheros restantes de la Lista2',len(counter2)

Ficheros restantes de la Lista1 2
Ficheros restantes de la Lista2 0

In [5]:
dfeventosborme.head(2)

,Unnamed: 0,rowID,razon,evento,subevento,codevento,actor,fecha_publicacion,cif,nombre
0,0,6826517,SL,Nombramientos.,vicepresidente,44014,PENA RUSHTON JUAN ANTONIO,11/02/2010,B15371222,CENTRAL ELECTRODOMESTICOS NOROESTE
1,1,6826518,SL,Nombramientos.,secretario,4409,BABIO LOPEZ JESUS,11/02/2010,B15371222,CENTRAL ELECTRODOMESTICOS NOROESTE

In [82]:
dfrelacionesParticipadas.columns

Index([u'nombre', u'CIF', u'tipoRelacion', u'nombre', u'participadaId',
       u'participadaCodPais', u'porcentajeDirecto', u'porcentajeTotal'],
      dtype='object')

In [75]:
dfrelacionesParticipadas.head(5)

,nombre,CIF,tipoRelacion,nombre,participadaId,participadaCodPais,porcentajeDirecto,porcentajeTotal
0,NOVASERRA SA,A28940542,participada,NAVAL 77 SA,ESA84203181,ES,"49,75",n.d.
1,NOVASERRA SA,A28940542,participada,GEURCO SA,ESA28832335,ES,"46,82",n.d.
2,NOVASERRA SA,A28940542,participada,CONSTRUCCIONES MARENA 28 SL,ESB78554466,ES,"28,00",n.d.
3,NUF JHU S.L.,B11603214,participada,NORTH AMERICAN ENVIROMENTAL FU,YY*330848187,n.d.,-,n.d.
4,NUF JHU S.L.,B11603214,participada,URBINSA SL,ESB80315708,ES,-,n.d.

In [83]:
dfwork.columns

Index([u'nombre', u'CIF', u'ISIN', u'forma', u'fconst', u'Estado',
       u'fechaCambioEstado', u'Pres', u'DE', u'tipoCuentasDisponible',
       u'numEmpresasEnCorporacion', u'numparticipadas', u'codPrimarioCNAE',
       u'incidenciasJudiciales', u'reclamacionesAdministrativas',
       u'numMiembrosJuntas', u'numMiembrosJuntasDireccion',
       u'numEmpresasGrupo', u'long', u'lat', u'cotizoBolsa', u'totActivo2015',
       u'totActivo2014', u'fondosPropios2015', u'fondosPropios2014',
       u'numEmpleados2015', u'numEmpleados2015', u'netoVentas2015',
       u'netoVentas2014', u'file'],
      dtype='object')

In [38]:
dfwork.head(5)

,nombre,CIF,ISIN,forma,fconst,Estado,fechaCambioEstado,Pres,DE,tipoCuentasDisponible,...,cotizoBolsa,totActivo2015,totActivo2014,fondosPropios2015,fondosPropios2014,numEmpleados2015,numEmpleados2015,netoVentas2015,netoVentas2014,file
0,NOVAMAS2002 SL,B62893151,No cotiza en bolsa,Sociedad limitada,2002-06-17 00:00:00,Desconocido,None,None,None,No Consolidadas,...,No cotiza en bolsa,106.13797,43.45643,35.5551,-11.8354,n.d.,n.d.,n.d.,4.075,../../data/datasets/SABI/lista1/50 Lista1 empr...
1,NOVAPAPA SL,B53859765,No cotiza en bolsa,Sociedad limitada,2004-02-23 00:00:00,Desconocido,None,None,None,No Consolidadas,...,No cotiza en bolsa,372.23437,455.31208,372.234,373.415,n.d.,n.d.,n.d.,n.d.,../../data/datasets/SABI/lista1/50 Lista1 empr...
2,NOVAR ET DULCE SL,B97415228,No cotiza en bolsa,Sociedad limitada,2003-01-02 00:00:00,Desconocido,None,None,None,No Consolidadas,...,No cotiza en bolsa,115.69942,115.70300,93.4977,93.5593,n.d.,n.d.,n.d.,n.d.,../../data/datasets/SABI/lista1/50 Lista1 empr...
3,NOVAS CONSTRUCCIONS & AR SL,B36875557,No cotiza en bolsa,Sociedad limitada,2000-09-06 00:00:00,Desconocido,2014-12-31 00:00:00,None,None,No Consolidadas,...,No cotiza en bolsa,265.44908,265.44908,-59.4695,-59.4695,n.d.,n.d.,n.d.,n.d.,../../data/datasets/SABI/lista1/50 Lista1 empr...
4,NOVASERRA SA,A28940542,No cotiza en bolsa,Sociedad anonima,1984-05-25 00:00:00,Desconocido,None,None,None,No Consolidadas,...,No cotiza en bolsa,9506.72897,29836.80170,2471.88,21726.3,4,3,n.d.,n.d.,../../data/datasets/SABI/lista1/50 Lista1 empr...

In [84]:
dfrelacionesCargos.columns

Index([u'nombre', u'CIF', u'tipoRelacion', u'nombre', u'fechaNombramiento',
       u'actual'],
      dtype='object')

In [85]:
dfrelacionesCargos.head(5)

,nombre,CIF,tipoRelacion,nombre,fechaNombramiento,actual
0,NOVATECH CONSULTING ESTRATEGIA Y TECNOLOGIAS D...,B84000678,Administrador Único,Don Jose Vicente Escanciano Herranz,2006-07-25 00:00:00,Current
1,NOVES DIMENSIONS INTEGRALS SL,B62034103,Administrador Único;Administrador único,Don Jordi Abellan Mercade,2006-08-01 00:00:00,Current
2,NOVES SENDES DEL GARRAF SL,B62874631,Administrador,Doña Ana Lopez Lopez,2002-09-18 00:00:00,Current
3,NOVIEMBRES INVERSIONES SICAV SA.,A82215930,Presidente,Don Francisco Manuel Delgado Rodriguez,2012-02-09 00:00:00,Current
4,NOVOPOUSO INVERSIONES SL,B70050356,Administrador,Don Jose Baldomero Novo Mera,2006-05-24 00:00:00,Current

In [86]:
dfrelacionesAccionistas.columns

Index([u'nombreEmpresa', u'CIF', u'nombreAccionista', u'idAccionista',
       u'isoPaisAccionista', u'%directo', u'%total'],
      dtype='object')

In [40]:
dfrelacionesAccionistas.head(5)

,nombreEmpresa,CIF,nombreAccionista,idAccionista,isoPaisAccionista,%directo,%total
0,PLATA HUELMO SL,B01032341,MR JOSE IGNACIO PLATA ORTE,ES*339817771,ES,"33,33",n.d.
1,PLATA HUELMO SL,B01032341,MR VICTOR HUELMO CALDERON,ES*339817770,ES,"33,33",n.d.
2,PLATANOS CAMARASA SL,B46427779,MR ENRIQUE CAMARASA TRIANA,ES*330182174,ES,"33,33",n.d.
3,PLATANOS CAMARASA SL,B46427779,MR RAFAEL CAMARASA TRIANA,ES*330182175,ES,"33,33",n.d.
4,"PLATINIUM INVESTMENT, SICAV, SA",A82406604,SELF OWNED,ZZ*J0088500,-,-,n.d.

In [87]:
dfrelacionesPuestos.columns

Index([u'nombreEmpresa', u'CIF', u'fechaUltimaDocRecibida',
       u'numEmpresasTieneFuncion', u'nombreCargo', u'cargo', u'fechaCita',
       u'actual', u'numAccionistas', u'file'],
      dtype='object')

In [41]:
dfrelacionesPuestos.head(5)

,nombreEmpresa,CIF,fechaUltimaDocRecibida,numEmpresasTieneFuncion,nombreCargo,cargo,fechaCita,actual,numAccionistas,file
0,PLASTICS DEL TERRI SL,B17368259,None,None,"Directors / managers / contacts are available,...",None,None,None,0.0,../../data/datasets/SABI/lista2/39 Lista2 Empr...
1,PLASTIHORMA SL,B03061223,None,None,"Directors / managers / contacts are available,...",None,None,None,1.0,../../data/datasets/SABI/lista2/39 Lista2 Empr...
2,PLATA HUELMO SL,B01032341,None,None,"Directors / managers / contacts are available,...",None,None,None,3.0,../../data/datasets/SABI/lista2/39 Lista2 Empr...
3,PLATAFORMA EOLICA GALEGA SL,B70036751,None,None,"Directors / managers / contacts are available,...",None,None,None,1.0,../../data/datasets/SABI/lista2/39 Lista2 Empr...
4,PLATANOS CAMARASA SL,B46427779,None,None,"Directors / managers / contacts are available,...",None,None,None,3.0,../../data/datasets/SABI/lista2/39 Lista2 Empr...

In [67]:
dfrelacionesAccionistas[dfrelacionesAccionistas.CIF=='A80298839']

,nombreEmpresa,CIF,nombreAccionista,idAccionista,isoPaisAccionista,%directo,%total
75740,REPSOL COMERCIAL DE PRODUCTOS PETROLIFEROS SA,A80298839,PETROLEOS DEL NORTE SOCIEDAD ANONIMA,ESA48053243,ES,"22,09",n.d.
75741,REPSOL COMERCIAL DE PRODUCTOS PETROLIFEROS SA,A80298839,REPSOL SA.,ESA78374725,ES,"18,39",n.d.